/* @import url("https://fonts.googlepis.com/css?family=El+Messiri"); */

body {
    font-family: 'El Messiri', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #121116;
    direction: rtl;
}

main {
    /* يعمل على جعل الصفحة متجاوبة  */
    display: flex; 
    /* يجعل العناصر اسفل بعضها */
    flex-wrap: wrap;
}

main>section {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#header {
    background-color: #221419;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: 3px solid #bf3334;
    padding: 0px 120px;
}

#branding h1 {
    font-size: 28px;
}
nav > ul {
    margin-top: 0px;
    list-style-type: none;
}

#header a {
    color: #ffffff;
    text-decoration: none;
}

nav > ul > li {
    float: right;
    margin-left: 15px;
}

li a {
    text-decoration: none;
    color: white;
}

#header .highlight, #header .current a {
    color: #bf3334;
}

/* showcase & newsletter */
/* #showcase {
    min-height: 400px;
    background: url('../images/image.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
} */

#showcase {
    position: relative;
    min-height: 400px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

/* إعداد الفيديو كخلفية */
#showcase .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* الفيديو النشط */
#showcase .bg-video.active {
    opacity: 1;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase pre {
    font-size: 15px;
    font-family: 'El Messiri', sans-serif;

}

#newsletter {
    padding: 15px 120px;
    color: #ffffff;
    background: #bf3334;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#newsletter h1 {
    float: right;
}

#newsletter form {
    float: left;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250ox;
}

.button {
    height: 38px;
    background: #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    color: #121116;
}

/* boxes & footer */
#boxes {
    margin-top: 20px;
    padding: 60px 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-content: center; 
}

#boxes .box {
    text-align: center;
    margin-left: 10px;
    color: white;
}

@media (max-width: 1020px) {
    #boxes {
        flex-direction: column;
    }
}

#footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #bf3334;
    text-align: center;
}

.linkicon a{
    color: #121116;

}

